@charset "UTF-8";
body {
  background-color: #fff;
  color: #757575;
  font-family: Roboto;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.site-nav__list, .peculiarities-list, .customers-list, .work-list, .team-list, .footer-nav__list, .footer-nav, .connect-list, .filter-list, .proposal-list {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.peculiarities, .customers, .work, .team, .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-block, .hero-block, .peculiarities-block, .customers-block, .work-block, .team-block, .footer-list, .portfolio-block {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.site-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-end {
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.studio-title {
  color: #2196f3;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link {
  position: relative;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: -34px;
}

.contacts-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-nav__link {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: #2196f3;
}

.mail {
  color: #2196f3;
}

.hero-overlay {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-overlay__title {
  max-width: 696px;
  margin: 0 auto;
  color: #ffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-overlay__button {
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

.peculiarities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.peculiarities-list__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities-list__item {
  margin-right: 30px;
}

.peculiarities-list__item:nth-child(4n) {
  margin-right: 0px;
}

.peculiarities-list__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarities-list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.customers-title {
  color: #212121;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03;
  margin-bottom: 50px;
  text-align: center;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers-list__item:not(:last-child) {
  margin-right: 30px;
}

.customers-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover, .customers-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.customers-list__icon {
  fill: currentColor;
}

.work-title {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list__item {
  margin-right: 30px;
}

.work-list__item:nth-child(3n) {
  margin-right: 0px;
}

.work-list__desc {
  position: relative;
}

.work-list__desc::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__article {
  position: absolute;
  width: 100%;
  bottom: 27px;
}

.work-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__item {
  margin-right: 30px;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:nth-child(4n) {
  margin-right: 0px;
}

.team-meta__title {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-meta__position {
  display: block;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-main__logo {
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-nav {
  margin-top: 20px;
}

.footer-nav__item {
  margin-bottom: 9px;
}

.footer-nav__item:nth-child(3n) {
  margin-bottom: 0px;
}

.footer-nav__map {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__map:hover, .footer-nav__map:focus {
  color: #2196f3;
}

.footer-nav__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__link:hover, .footer-nav__link:focus {
  color: #2196f3;
}

.social-connect {
  display: block;
  margin-left: 70px;
}

.social-connect__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.connect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connect-list__link:not(:last-child) {
  margin-right: 10px;
}

.connect-list__link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.connect-list__icon {
  fill: #ffffff;
}

.connect-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-list__item:hover, .connect-list__item:focus {
  background-color: #2196f3;
  border-color: #2196f3;
}

.subscription {
  display: block;
  margin-left: 93px;
}

.subscription__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: inherit;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscription__btn {
  width: 200px;
  height: 50px;
  text-align: inherit;
  padding: 10px 28px;
  margin-left: 12px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

.subscription__icon {
  position: absolute;
  margin-left: 10px;
}

.filter {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.filter-list__item {
  margin-right: 8px;
}

.filter-list__item:nth-child(5n) {
  margin-right: 0px;
}

.filter-list__btn {
  cursor: pointer;
  padding: 6px 22px;
  min-width: 73px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* предложения */
.proposal {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.proposal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proposal-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.proposal-action {
  position: relative;
  overflow: hidden;
}

.proposal-action::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.proposal-list__link:hover .proposal-action::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.proposal-action__text {
  display: block;
  content: "";
  position: absolute;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  top: 63px;
  left: 24px;
  bottom: 63px;
  right: 24px;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.proposal-list__link:hover .proposal-action__text {
  opacity: 1;
}

.proposal-list__item:nth-child(3n) {
  margin-right: 0;
}

.proposal-list__item:last-child(-n+3) {
  margin-bottom: 0;
}

.proposal-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.proposal-list__link:hover, .proposal-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.proposal-card {
  padding: 24px 0 20px 24px;
  border-top: 0;
  border: 1px solid #eeeeee;
  overflow: hidden;
}

.proposal-card__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.proposal-card__text {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__title {
  font-size: 12px;
  margin-bottom: 6px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  position: relative;
}

.modal-form__text {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text:focus {
  border: 1px solid #2196f3;
  border-color: #2196f3;
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #212121;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-check__icon {
  position: absolute;
  margin-left: -23px;
  margin-top: 3px;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: border, background-color;
  transition-property: border, background-color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check__input:focus + .modal-check__icon {
  border: 0.9px solid #2196f3;
}

.modal-check__input:checked + .modal-check__icon {
  background-color: #2196f3;
  border: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-check__title {
  margin-left: 37px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.modal-check__conditions {
  margin-left: 5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.sent-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.sent-button {
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: #2196f3;
}

.modal-btn:focus {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */