 .customers {
     @extend %section;
 }

 .customers-block {
     @extend %container;
 }

 .customers-title {
    color: $title-text-color;
    font-style: normal;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03;
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }
  
  .customers-list {
    @extend %list;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    margin: -15px;
    @media screen and (min-width: 1200px) {
      margin: -15px;
    }
  }
  
  .customers-list__item {
    max-width: 210px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
      flex-basis: calc((100% - 6 * 30px) / 6);
      margin: 15px;
    }
  }
  
  .customers-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px; 
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
  
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: $accent-color;
        border-color: $accent-color;
    }
  }
  
  .customers-list__icon {
  fill: currentColor;
  }