.menu-toggle {
    background-color: transparent;
    border: none;
    fill: #000000;
    padding: 10px, 15px;
    margin-left: auto;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
        display: none;    
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    overflow: scroll;
    background-color: #FFFFFF;

    transform: translateX(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    fill: $title-text-color;
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
}

.mobile-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
    @media screen and (max-width: 479px) {
        margin-bottom: 20px;
      }
}

.mobile-menu__link {
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: $title-text-color;
    &:hover,
    &:focus {
        color: $accent-color;
    }
    @media screen and (max-width: 479px) {
        font-size: 30px;
      }
}

.mobile-menu__link--current {
    color: $accent-color;
}

.mobile-link {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 479px) {
        margin-top: auto;
      }
}

.menu-contacts__list {
    margin-bottom: 64px;
    @media screen and (max-width: 479px) {
        margin-bottom: 40px;
      }
}

.menu-contacts__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
    @media screen and (max-width: 479px) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
      } 
}

.menu-contacts__link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: $accent-color;
    @media screen and (max-width: 479px) {
        font-size: 25px;
      }
}

.menu-contacts__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    @media screen and (max-width: 479px) {
        font-size: 16px;
      }
}

.menu-social__list {
    display: flex;
}

.menu-social__item {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:last-child {
        margin-right: 0px;
        padding-right: 0px;
        border-right: none;
  }
}

.menu-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    @media screen and (max-width: 479px) {
        font-size: 11px;
        line-height: 1.17;
      }
}
