  .team {
    @extend %section;
    background-color: #f5f4fa;
  }

  .team-block {
    @extend %container;
  }
  
  .team-title {
    margin-bottom: 30px;
    color: $title-text-color;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
  
  .team-list {
    @extend %list;
    margin-bottom: -30px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin: -15px;
    }
  }
  
  .team-list__item {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    
    @media screen and (min-width:1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    } 
  }

  .team-meta {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  
  .team-meta__title {
    display: block;
    margin-bottom: 10px;
    color: $title-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  .team-meta__position {
    display: block;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .social-list__icon {
    fill: currentColor;
  }
  
  .social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
  
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background-color: $accent-color;
            color: #ffffff;
         }
  }